#big-file-loading {
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: verdana;
  font-size: 0.8rem;
  background-color: white;
  svg {
    margin-left: 2rem;
  }
}
