:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* Make sure the components are visible when they should be */
khiops-visualization {
  &[style*="display: block"] {
    display: block !important;
    visibility: visible !important;
    width: 100% !important;
    height: 100% !important;
  }
}

khiops-covisualization {
  &[style*="display: block"] {
    display: block !important;
    visibility: visible !important;
    width: 100% !important;
    height: 100% !important;
  }
}
